h1{
    background-color: rgb(236, 104, 131);
}

div{
    height: 50px;
    width: 200px;
    background-color: cyan;
}

#quadro2{
    height: 50px;
    width: 200px;
    background-color: rgb(190, 230, 17);
}

/*Opacidade colocada */
#quadro3{
    height: 50px;
    width: 200px;
    background-color: rgb(4, 5, 0);
    opacity: 0.6;

}